#top-menu {
  background-color: #e95420;
}

#top-menu #logo a { background-image: url("https://assets.ubuntu.com/v1/473ea07f-icon-intro-iot.svg"); }

a { color: #e95420;}

body.action-login #wrapper {
  background: #fff url("https://assets.ubuntu.com/v1/2f56d557-image-iot.jpg?q=80") center center no-repeat;
  background-size: 100% auto;
}

body.action-login #wrapper2 {
  border: solid 1px #ffffff;
  background: rgba(255, 166, 0, 0.83);
}